
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

main {
  flex-grow: 1;
  background-color: #f0f0f0;
}

header{
  font-family: 'Roboto Mono';
}

.hover-effect-list-item {
  transition: background-color 2s ease, color 3s ease;
  border-radius: 0.5rem;
}

.hover-effect-list-item:hover {
  background-color: #d8a775;
}

.hover-effect-list-item:hover .nav-link {
  color: #000000;
}

footer {
  font-family: 'Roboto Mono';
}

/* INDEX.HTML */

.hero-image {
  padding-left: 5rem;
  width: 100%;
  height: calc(100vh - 80px);
  background: url('https://images.unsplash.com/photo-1529156069898-49953e39b3ac?auto=format&fit=crop&w=1920&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.hero-image h1 {
  position: absolute;
  top: 15rem;
  color: #f0f0f0;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 4rem;
  padding: 2rem;
  border-radius: 20px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

.idw-section {
  background-color: #f0f0f0;
  padding: 100px 0;
  text-align: center;
}

.idw-section h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.idw-section p {
  letter-spacing: 2px;
  font-size: 1.1em;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

.salones-section {
  padding: 50px 0;
  text-align: center;
}

.salones-section h2 {
  font-size: 2em;
  margin-bottom: 30px;
}

.salones-grid {
  width: 60%;
  padding: 1rem;
  display: grid;
  /* grid-template-columns: repeat(2, 300px); */
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 50px;
  justify-content: center;
  margin: 0 auto;
}

.salon-placeholder {
  padding-bottom: 20px;
  /* width: 300px; */
  height: auto;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 15px 15px 20px rgba(0,0,0,0.2);
  transition: all 300ms ease-in-out;
}

.img-container {
 width: 100%;
 height: auto;
 overflow: hidden;
 cursor: pointer;
}

.salon-img {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
}

.nombre-salon {
  font-size: 1.2rem;
  margin-top: 10px;
}


.salon-placeholder:hover {
  transform: scale(1.1);
  box-shadow: 15px 15px 20px rgba(0,0,0,0.3);
}

h1 {
  margin-bottom: 1rem;
}

/* INSTITUCIONAL */

.institucional {
  width: 100%;
  padding: 3rem 5rem; 
  display: flex;
  flex-direction: column;
}

h2 {
  margin-top: 2rem;
}

.parrafo {
  line-height: 1.4rem;
  margin-top: .5rem;
}

/* CONTACTO PAGINA */

.page-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
}

.form-container {
  margin-top: 2rem;
  width: 400px;
  background-color: #f0f0f0;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* sombra suave y profunda */
  backdrop-filter: blur(4px); /* opcional: efecto vidrio */
}

.form-container form {
  text-align: left;
}

.form-container form input,
textarea {
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 10px 10px;
  border-radius: 10px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.checkbox-news {
  display: flex;
  justify-content: center;
  align-items: center;
}
